# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyd

# Virtual environments
venv/
env/
ENV/
.venv/


# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# node / npm / frontend
node_modules/
dist/
build/
*.lock
package-lock.json
yarn.lock

# Coverage
htmlcov/
.coverage

# Others
*.swp
.env
*/settings.py
*/settings_local.py
