# Core Framework
Django==4.2.19

# PostgreSQL Database Driver
psycopg2-binary==2.9.9

# Environment Variable Management
python-decouple==3.8
python-dotenv==1.0.1

# Payment Gateway (Razorpay)
razorpay==1.4.2

# Admin Theme
django-jazzmin==3.0.0

# Static and Media Handling (optional but good to have)
Pillow==10.4.0

# Security & Utility Libraries
requests==2.32.3

# For development / debugging
django-debug-toolbar==4.4.2
